{% extends 'travels/base.html' %}
{%load travels_tags%}



{% block content %}
  {%get_categories as cats%}
  <h1>{{title}}</h1> 
  <ul id ="leftchapters">
    {%if cat_selected == 0 %}
        <li class="selected">Все категории</li>
    {% else %}
        <li><a href="{%url 'travels'%}">Все категории</a></li>
    {%endif%}
    
    {%for c in cats%}
    
        {%if c.pk == cat_selected%}
          <li class="selected">{{c.title}}</li>
        {%else%}
        <li><a href="{{c.get_absolute_url}}">{{c.title}}</a></li>
        {%endif%}
    
    {%endfor%}
    
  </ul>
  <ul class="list-arcticles">
    {%for t in travels%}
    <li>
        <div class="acrticle-panel">
          <p class="first">Категория: {{t.cat}}</p>
          <p class="last">Дата публикации: {{t.time_create|date:"d-m-Y"}}</p>
        </div>
        {%if t.photo%}
          <p><img class="img-arcticle-left thumb" src="{{t.photo.url}}"></p>
        {%endif%}
        <h2>{{t.title}}</h2>
        <p>{{t.content|linebreaks|truncatewords:50}}</p>
        <div class="clear"></div>
        <p class="link-read-post"><a href="{{ t.get_absolute_url }}">Читать пост</a></p>
        
    </li>
    {% endfor %} 
  </ul>
{%if page_obj.has_other_pages%}
  <nav class='list-pages'>
    <ul>
      {%for p in paginator.page_range%}
      {% if page_obj.number == p %}
      <li class="page-num page-num-selected">{{p}}</li>
      {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
      <li class="page-num">
        <a href="?page={{p}}">{{p}}</a>
      </li>
      {%endif%}
      {%endfor%}
    </ul>
  </nav>
{%endif%}
{% endblock content %}