{% extends 'travels/base.html' %}
{%load static%}

{% block content %}
<div class="headline">
  <h1><span>О сайте</span></h1>
</div>

  <div class="row featurette">
    <div class="col-md-7">
      <div class="text_about">
      <div class="text-center">
        <h3>Путешествия улучшают эмоциональное здоровье.
          Поездки всегда расширяют кругозор и обогащают приятными впечатлениями, что напрямую влияет на эмоциональное здоровье и ощущение удовлетворенности жизнью. Путешествия помогают зарядиться положительной энергией и благотворно влияют на дальнейшую деятельность. </h3>
        <br><h3>Если Вы совсем не знаете, как провести свой отпуск, то на данном сайте, Вы сможете прочитать истории других путешествинников и подчеркнуть для себя какие-то новые моменты. А также наш сайт идеально подойдет, если Вы турист со стажем и вам хочется поделиться своим опытом и впечатлениями. </h3>
      </div>
    </div>
    </div>
    <div class="col-md-5">
      <div class="photo">
        <p><img class="bd-placeholder-img rounded-circle" width="600" height="600" src="{% static  'travels/img/about.png' %}"></p>
      </div>
    </div>
    
  </div>
</div>
{% endblock content %}