{% extends 'travels/base.html' %}
{%load travels_tags%}



{% block content %}
<div class="headline">
  <h1><span>Ваши посты</span></h1>
</div>
    
    <ul class="s3">
      
      {%for t in travels%}
      <li class="bg-light">
        <div class="travel_content">
        <div class="text-center">
        {%if t.photo%}
          <p><img class="bd-placeholder-img "  width="350" height="350" src="{{t.photo.url}}"></p>
        {%endif%}
        <p class="first">Автор: {{t.author}}</p>
        <h2>{{t.title}}</h2>
        <p>{{t.content|linebreaks|truncatechars:30}}</p>
        <a href="{{ t.get_absolute_url }}"><button   class="header__btn">Читать</button></a>
        <a href="{{ t.get_update_url }}"><button   class="header__btn">Изменить</button></a>
        <p></p>

        <a href="{{ t.get_delete_url }}"><button   class="header__btn">Удалить</button></a>
        </div>
      </div>
    </li>
    {% endfor %} 
     
    </ul>



{%if page_obj.has_other_pages%}
  <ul class="pagination pagination-sm">
      {%for p in paginator.page_range%}
      {% if page_obj.number == p %}
      <li class="page-item active" aria-current="page">{{p}}</li>
      {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
      <li class="page-item">
        <a class="page-link" href="?page={{p}}">{{p}}</a>
      </li>
      {%endif%}
      {%endfor%}
  </ul>
  
{%endif%}
{% endblock content %}
<ul class="pagination pagination-sm">
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item active" aria-current="page">
    <a class="page-link" href="#">2</a>
  </li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
</ul>