body {
    font-family: 'Roboto', sans-serif;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}


/* Первый экран */
.header {
  color: #3B6993;
  padding-top: 30px;
  border-radius: 5px;
  padding: 20px;
  background: linear-gradient(to bottom right, #3B6993, #f2f2f2);
}

.menu {
  margin-bottom: 30px;
}

.menu__item {
  margin: 0 40px;
}

.menu__item a {
    font-size: 23px;
    font-weight: 700;
    color: #3B6993;
    text-decoration: none;
}  

.header__btn {
  /* font-family: 'Roboro', sans-serif; 
  color: #3B6993;
  font-weight: 700;
  width: 140px;
  border: 0;
  margin-right: 5px;*/
  
  background-color: white;
  color: black;
  border: 2px solid #3B6993;
  width: 140px;
  border-radius: 7px;
  font-size: 20px;
  padding: 5px 0; 
}

.header__btn:hover {
  background-color: #3B6993; 
  color: white;
}

/* .footer{
  position: absolute;
  bottom: 0;
  left: 0;
} */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 0rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 4rem;
    z-index: 10;
  }
  .carousel1{
        z-index: 10;
        position: absolute;
        right: 15%;
        bottom: 1rem;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1rem;
        color: #fff;
        text-align: center;
        bottom: 40%;
        
    }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    position: relative;
    height: 40rem;
    filter: brightness(60%);
  }

.fon {
    min-height: 100%;
    min-width: 100%;
}

/* Все посты */

.headline {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #3B6993;
}
  h1 > span {
    display: inline-block;
    margin: 0 .4em;
  }
  h1 > span:before,
  h1 > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 2px solid #b3b3b3;
    margin-top: .6em;
  }
  h1 > span:before {
    margin-left: -102%;
  }
  h1 > span:after {
    margin-left: 2%;
  }
.navbar {
  margin-bottom: 30px;
}


/* Регистрация/авторизация */
.form_log {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: inline-block;
  padding: 50px;

  border: 2px solid #3B6993;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top: 25px;
  position: fixed;
  top:50%;
  left: 50%;
  margin: -280px 0 0 -283px;
  
 
}

.form_log h1 {
  font-size: 30px;
   
}

.form-input {
  border-radius: 4px;
  padding: 14px 20px;
  margin: 6px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* border-left: #3B6993; */
  border: 2px solid #3B6993;
}

.form-label{
  margin-right: 10px;
}


.block {
  margin-top: 25px;
}


.list-arcticles {
  margin-top: 35px;
}


ul.s3 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 13%;
}


.post{
 border-radius: 12px;
 background-color: #f2f2f2;
 margin: 10px;
}

.travel_content {
  margin: 20px;
  width: 400px; 
}

/* Добавление поста */
.add_post_right {
  background-color: #b3b3b3;

  /* border-radius: 5px;
 
  padding: 20px;
  display: inline-block;
  padding: 50px;

  border: 2px solid #3B6993;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
  margin-top: 25px;
  
}

.form_addpost{
  padding:20px;
  
}

.id_photo {
  background-color: white;
  color: black;
  border: 2px solid #3B6993;
  width: 200px;
  border-radius: 7px;
  font-size: 20px;
  padding: 5px 0;
}

.form_add {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: inline-block;
  padding: 25px;
  width: 630px;
  border: 2px solid #3B6993;
  margin-left: 30%;
 
}

.text_about{
  width: 550px;
  margin-left: 200px;
}

.pagination-center{
  margin: 0 auto;
  display: flex;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}